.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}
.navbar {
    background-color: rgb(243, 7, 7);
}

.scroll {
    background-color: #05ce48;
}